@page "/"

<!-- About -->
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-aos="zoom-in">
                <div class="about-me-box shadow-box">
                    <NavLink Class="overlay-link" Href="/birds"></NavLink>
                    <img src="assets/images/bg1.png" alt="BG" class="bg-img">
                    <div class="img-box">
                        <img src="logo.jpg" alt="About Me">
                    </div>
                    <div class="infos">
                        <h4>Bird</h4>
                        <h1>ငှက်</h1>
                        <p>
                            ငှက်သည် အမွှေးအတောင်ရှိ၍ အတောင်ပံ နှစ်ဖက်ရှိသော သွေးနွေးသတ္တဝါအမျိုးအစားတွင်ပါဝင်သည်။
                        </p>
                        <a href="#" class="about-btn">
                            <img src="assets/images/icon.svg" alt="Button">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="about-credentials-wrap">
                    <div data-aos="zoom-in">
                        <div class="banner shadow-box">
                            <div class="marquee">
                                <div>
                                    <span>
                                        ငှက်သည် အမွှေးအတောင်ရှိသော ကျောရိုးရှိသတ္တဝါဖြစ်၏။ သို့သော် အခြားကျောရိုးရှိသတ္တဝါများဖြစ်သော တွားသွားသတ္တဝါ၊ နို့တိုက်သတ္တဝါတို့နှင့်ကား မတူချေ။ ထိုတွားသွားသတ္တဝါနှင့် နို့တိုက်သတ္တဝါတို့တွင် အရေပြား၌ အကြေးခွံနှင့် အမွှေးအမှင်တို့ ရှိကြသည်။ ငှက်မှာမူ လေထဲတွင် ပျံသန်းရသော တိရစ္ဆာန် ဖြစ်ခြင်းကြောင့် အရေပြားမှ အမွှေးအတောင်များ ဆန်းကြယ်စွာ ပေါက်လျက်ရှိသည်။ ကမ္ဘာပေါ်တွင် ငှက်မျိုးပေါင်းမှာ ၁၃ဝဝဝ နှင့် ၁၄ဝဝဝ အကြားတွင် ရှိသည်။ ငှက်တို့ကို (မျိုးစိတ်၊ မျိုးစု၊ မျိုးရင်း၊ မျိုးစဉ်၊ မျိုးပေါင်း)ဟူ၍ အဆင့်ဆင့် ခွဲခြား ထားသည်။ ဤသို့ ခွဲခြား၍ကြည့်လိုက်သော်၊ ငှက်မျိုးပေါင်းသည် ကျောရိုးရှိ မျိုးပေါင်းစုတွင် အပါအဝင် ဖြစ်သည်ကို တွေ့ရလေသည်။ ငှက်အမျိုးပေါင်း(မျိုးစိတ်ပေါင်း) ၈၆၀၀-ကျော်အား မျိုးစု ၁၆၀၀-ခု၊ မျိုးရင်း ၁၅၅-ခု၊ မျိုးစဉ် ၂၇-ခု၊ မျိုးပေါင်း ၁-ခု အဖြစ် သတ်မှတ်ထားသည်။
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="gx-row d-flex gap-24">
                        <div data-aos="zoom-in">
                            <div class="about-crenditials-box info-box shadow-box h-full">
                                <a class="overlay-link" href="https://my.wikipedia.org/wiki/ငှက်" target="_blank"></a>
                                <img src="assets/images/bg1.png" alt="BG" class="bg-img">
                                <img src="assets/images/feather.png" style="height: 124px;" alt="Sign">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        @* <h4>more about me</h4> *@
                                        <h1>wikipedia</h1>
                                    </div>

                                    <a href="https://my.wikipedia.org/wiki/ငှက်" target="_blank" class="about-btn">
                                        <img src="assets/images/icon.svg" alt="Button">
                                    </a>

                                </div>
                            </div>
                        </div>


                        <div data-aos="zoom-in">
                            <div class="about-profile-box info-box shadow-box h-full">
                                <img src="assets/images/bg1.png" alt="BG" class="bg-img">
                                <div class="inner-profile-icons shadow-box">
                                    <a href="https://www.facebook.com/profile.php?id=100064810986327" target="_blank">
                                        <i class="iconoir-user"></i>
                                    </a>
                                    <a href="https://www.facebook.com/bin.birdsinnature" target="_blank">
                                        <i class="iconoir-facebook"></i>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        <h4></h4>
                                        <h1>Birds In Nature</h1>
                                    </div>

                                    <a href="https://www.facebook.com/bin.birdsinnature" target="_blank" class="about-btn">
                                        <img src="assets/images/icon.svg" alt="Button">
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-24">
            <div class="col-md-8" data-aos="zoom-in">

                <div class="about-client-box info-box shadow-box">
                    <img src="assets/images/bg1.png" alt="BG" class="bg-img">
                    <div class="clients d-flex align-items-start gap-24 justify-content-center">
                        <div class="client-item">
                            <h1>၈၆၀၀</h1>
                            <p>ငှက်အမျိုးပေါင်း(မျိုးစိတ်ပေါင်း)</p>
                        </div>

                        <div class="client-item">
                            <h1>၁၆၀၀</h1>
                            <p>မျိုးစုပေါင်း</p>
                        </div>

                        <div class="client-item">
                            <h1>၁၅၅</h1>
                            <p>မျိုးရင်းပေါင်း</p>
                        </div>

                        <div class="client-item">
                            <h1>၂၇</h1>
                            <p>မျိုးစဉ်ပေါင်း</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4" data-aos="zoom-in">

                <div class="about-contact-box info-box shadow-box">
                    <NavLink Class="overlay-link" Href="/birds"></NavLink>
                    <img src="assets/images/bg1.png" alt="BG" class="bg-img">
                    <img src="assets/images/icon2.png" alt="Icon" class="star-icon">
                    <h1>Let's <br>explore <span>together.</span></h1>
                    <NavLink Class="about-btn" Href="/birds">
                        <img src="assets/images/icon.svg" alt="Button">
                    </NavLink>
                </div>

            </div>
        </div>
    </div>
</section>